/* Register your custom font family and tell the browser where to find it. */
@font-face {
    font-family: 'Noto';
    src: url('/fonts/noto-sans-latin-400-normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/fonts/playfair-display-latin-400-normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    background-color: oldlace;
    font-family: 'Noto', sans-serif;
    color: black;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}


h2 {
    font-weight: 400;
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
    margin-bottom: 0px;
}

a {
    color: darkcyan;
    /* Default link color */
    text-decoration: none;
    /* Remove underline from links */
    transition: color 0.3s ease;
    /* Smooth transition for color change */
}

/* Link hover styles */
a:hover {
    color: turquoise;
}

/* .expanded { */
/*     display: unset; */
/* } */
