/* Register your custom font family and tell the browser where to find it. */
@font-face {
    font-family: 'Noto';
    src: url('/fonts/noto-sans-latin-400-normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    background-color: oldlace;
    font-family: 'Noto', sans-serif;
    color: black;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}


h1 {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 0px;
    font-size: 1.2rem;
}

h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: lightgrey;
}

a {
    color: darkcyan;
    /* Default link color */
    text-decoration: none;
    /* Remove underline from links */
    transition: color 0.3s ease;
    /* Smooth transition for color change */
}

/* Link hover styles */
a:hover {
    color: turquoise;
}

/* .expanded { */
/*     display: unset; */
/* } */

@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }
}
