---
import BaseLayout from "../layouts/BaseLayout.astro";
import Publication from "../components/Publication.astro";
import Prose from "../components/Prose.astro";
import FullWidthImage from "../components/FullWidthImage.astro";
import Tag from "../components/Tag.astro";
const pageTitle = "Home";
const interests = [
    "ecology",
    "stability",
    "foodwebs",
    "julia",
    "web-development",
    "astro",
];
---

<BaseLayout pageTitle={pageTitle}>
    <FullWidthImage src="/assets/hero.jpg" alt="Spider web" />

    <section class="py-6">
        <div class="flex items-center gap-8 mt-4">
            <div class="flex-1 text-justify">
                <Prose>
                    <h2>Ismaël Lajaaiti</h2>
                    <p>
                        I'm a PhD student in theoretical ecology at <a
                            href="https://isem-evolution.fr/">ISEM</a
                        > in Montpellier, France. I explore the simple patterns that
                        emerge from the complexity of ecological systems using mathematical
                        equations and computer simulations. Outside the lab, you’ll
                        likely find me solving problems at the climbing gym.
                    </p>
                </Prose>
            </div>
            <div class="flex-shrink-0">
                <img
                    src="/assets/me.png"
                    alt="Photo of Ismaël Lajaaiti"
                    class="w-32 h-32 rounded-full object-cover border-4 border-orange-200"
                />
            </div>
        </div>
    </section>

    <section class="pb-4">
        {
            interests.map((interest) => (
                <>
                    <div class="inline-flex">
                        <Tag tagName={interest} />
                    </div>
                </>
            ))
        }
    </section>

    <section>
        <Prose><h2 class="py-4">Publications</h2></Prose>
        <Publication
            title="How biotic interactions structure species responses to perturbations"
            authors="I. Lajaaiti, S. Kéfi, J-F. Arnoldi"
            journalName="Proceedings of the Royal Society B"
            date="2024"
        />
        <Publication
            title="EcologicalNetworksDynamics.jl: A Julia package to simulate the temporal dynamics of complex ecological networks"
            date="2024"
            authors="I. Lajaaiti, I. Bonnici, S. Kéfi, H. Mayall, A. Danet, A. P. Beckerman, T. Malpas, E. Delmas"
        />
    </section>
</BaseLayout>
