---
import Prose from "../components/Prose.astro";
import FullWidthImage from "../components/FullWidthImage.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Research";
---

<BaseLayout pageTitle={pageTitle}>
    <FullWidthImage src="/assets/blackboard.jpg" alt="Blackboard" />
    <section class="py-5">
        <Prose>
            <p>
                I aim to understand what makes species vulnerable. Since species
                don't exist in isolation but interact with many others, I focus
                on how these interactions shape their responses to disturbances.
                I also explore whether species vulnerable to one type of
                disturbance are also at risk from others. For instance, are
                species sensitive to short-term disturbances also susceptible to
                long-term changes? Finally, I investigate how the type of
                interactions between species — whether competitive,
                facilitative, or trophic — influences the relationships between
                their responses to different disturbances.
            </p>
        </Prose>
    </section>
</BaseLayout>
