---
import Prose from "../components/Prose.astro";
import FullWidthImage from "../components/FullWidthImage.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { motion } from "framer-motion";
const pageTitle = "Research";
---

<BaseLayout pageTitle={pageTitle}>
    <FullWidthImage src="/assets/blackboard.jpg" alt="Blackboard" />
    <section class="pt-4">
        <Prose>
            <p>
                Some species recover from disturbances, while others don’t. My
                goal is to understand why, using a bit of maths and programming.
                Since species rarely exist in isolation but are usually part of
                complex networks of interactions, I study how these
                relationships shape their ability to recover from disturbances.
                I also investigate whether species vulnerable to one type of
                disruption are more prone to others. For instance, do species
                sensitive to short-term intense disturbances also struggle with
                long-term environmental changes? Lastly, I explore how the
                nature of species interactions—whether competitive,
                facilitative, or predatory—affects their recovery ability across
                different kinds of disturbances.
            </p>
        </Prose>
    </section>
</BaseLayout>
