---
const { title, image, link } = Astro.props;
---

<a href={link} class="group p-3">
    <img
        src={image}
        alt="Blog Post Image"
        class="w-full rounded-lg shadow-md transition-transform duration-300 group-hover:scale-105"
    />
    <p
        class="sm:text-base text-lg text-center text-gray-500 group-hover:text-black"
    >
        {title}
    </p>
</a>
