---

---

<body>
    <div
        class="flex justify-between items-center p-2 border-t-2 border-gray-300"
    >
        <div class="text-sm text-gray-500">
            © 2024 Ismaël Lajaaiti. All Rights Reserved.
        </div>

        <div class="text-sm text-gray-500">
            Contact:
            <!-- Full email hidden on small screens, shown on larger screens -->
            <a
                class="font-mono sm:hidden"
                href="mailto:ismael.lajaaiti@gmail.com">e-mail</a
            >
            <!-- Full email shown on small screens and larger -->
            <a
                class="font-mono hidden sm:inline"
                href="mailto:ismael.lajaaiti@gmail.com"
            >
                ismael.lajaaiti[at]gmail.com
            </a>
        </div>
    </div>
</body>
