---
import Hamburger from "./Hamburger.astro";
import Social from "./Social.astro";
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<style>
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        padding: 1px 20px; /* Adjust padding for spacing */
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        backdrop-filter: blur(10px); /* Apply blur to the background */
        background-color: rgba(
            255,
            255,
            255,
            0.4
        ); /* Semi-transparent background */
        -webkit-backdrop-filter: blur(10px); /* For Safari support */
        box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow to make it stand out */
    }

    .nav-links {
        margin-left: 1em;
        display: flex;
        width: auto;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
        text-decoration: none;
        color: black;
    }

    .nav-links a:hover {
        color: turquoise;
    }

    .nav-links a.active {
        color: darkcyan;
    }

    .home a.active {
        color: black;
    }

    .social-icons {
        display: flex;
        gap: 0.1rem;
    }

    .social-icons a {
        color: #333;
    }

    .social-icons a:hover {
        color: #0077b5; /* Example hover color */
    }

    .home {
        font-weight: 800;
    }

    .nav-icon {
        width: 20px;
        height: 20px;
        margin-right: 2px;
        transition: transform 0.3s ease;
    }

    .home a:hover {
        color: black;
    }

    .home:hover .nav-icon {
        transform: rotate(25deg); /* Rotate only the icon on hover */
    }
</style>

<header class="header">
    <nav class="nav">
        <Hamburger />
        <div class="nav-links">
            <div class="home">
                <a class={currentPath === "" ? "active" : ""} href="/">
                    <img
                        src="/assets/home-test.svg"
                        alt="Home Icon"
                        class="nav-icon"
                    />
                    Ismaël Lajaaiti
                </a>
            </div>
            <a
                class={currentPath === "research" ? "active" : ""}
                href="/research">Research</a
            >
            <a class={currentPath === "blog" ? "active" : ""} href="/blog"
                >Blog</a
            >
        </div>
    </nav>
    <div class="social-icons">
        <Social
            url="https://github.com/ismael-lajaaiti"
            logo="gscholar-logo.svg"
            platform="GitHub"
        />
        <Social
            url="https://github.com/ismael-lajaaiti"
            logo="github-logo.svg"
            platform="GitHub"
        />
        <Social
            url="https://github.com/ismael-lajaaiti"
            logo="x-logo.svg"
            platform="X"
        />
        <Social url="/files/cv.pdf" logo="cv-icon.svg" platform="CV" />
    </div>
</header>
