---
import { Icon } from "astro-icon/components";
import Social from "./Social.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<header
    class="fixed top-0 left-0 w-screen px-5 py-0.5 z-20 flex justify-between items-center backdrop-blur-md bg-white/50 shadow-sm"
>
    <nav class="flex">
        <div class="flex items-center">
            <div class="group flex items-center font-semibold">
                <a
                    class={`flex items-center px-5 py-3 ${currentPath === "" ? "text-indigo-400" : "text-black"}`}
                    href="/"
                >
                    <Icon
                        class="w-5 h-5 mr-1 transition-transform duration-100 ease-linear transform group-hover:rotate-45"
                        name="carbon:hybrid-networking"
                    />
                    Ismaël Lajaaiti
                </a>
            </div>
            <a
                class={`flex items-center px-5 py-3 ${currentPath === "research" ? "text-indigo-400" : "text-black"}`}
                href="/research"
            >
                Research
            </a>
            <a
                class={`flex items-center px-5 py-3 ${currentPath === "blog" ? "text-indigo-400" : "text-black"}`}
                href="/blog"
            >
                Blog
            </a>
        </div>
    </nav>

    <div class="flex space-x-1">
        <Social
            url="https://scholar.google.com/citations?user=ebpnCOUAAAAJ&hl=fr"
            logo="academicons:google-scholar"
            platform="GitHub"
        />
        <Social
            url="https://github.com/ismael-lajaaiti"
            logo="mdi:github"
            platform="GitHub"
        />
        <Social
            url="https://x.com/ismael_lajaaiti"
            logo="ri:twitter-x-fill"
            platform="X"
        />
        <Social url="/files/cv.pdf" logo="tabler:file-cv" platform="CV" />
    </div>
</header>
