---
import { Icon } from "astro-icon/components";
const { url, logo, platform } = Astro.props;
---

<a
    href={url}
    target="_blank"
    class="inline-block rounded-md text-black hover:text-indigo-500"
>
    <Icon name={logo} class="w-6 h-6 align-middle" />
</a>
