---
const { url, logo, platform } = Astro.props;
---

<a href=`${url}` target="_blank" class="social-button">
    <img src=`/assets/${logo}` alt=`${platform} Logo` />
</a>

<style>
    /* Style the button */
    .social-button {
        display: inline-block;
        padding: 2px;
        border-radius: 5px;
        text-decoration: none;
        color: white;
        filter: invert(66%) sepia(100%) saturate(236%) hue-rotate(140deg)
            brightness(55%) contrast(85%);
        transition: filter 0.3s ease;
    }

    /* Style the image */
    .social-button img {
        width: 24px;
        height: 24px;
        vertical-align: middle;
    }

    /* Hover effect */
    .social-button:hover {
        filter: invert(66%) sepia(100%) saturate(236%) hue-rotate(140deg)
            brightness(100%) contrast(90%);
    }
</style>
